@page {
	/* Set page size here: */
	height: 105mm;
	width: 149mm;
	margin: 0;
}

.page {
	/* Set Page Size here: */
	height: 105mm;
	width: 149mm;

	/* Font and margin settings  */
	font-size: 12pt;
	margin: 1em;
	background: white;

	/* Grid settings */
	display: grid;
	grid-template-columns: 45mm 104mm;
	grid-template-rows: 15mm 90mm;
	grid-column-gap: 0px;
	grid-row-gap: 0px;
}

@media print {
	#controls {
		display: none;
	}
	#preview {
		margin: 0;
		padding: 0;
		overflow: visible;
	}
	.page {
		margin: 0;
		overflow: hidden;
		box-shadow: none;
		border: 1px dotted black;
		display: grid;
	}
	body {
		background-color: white;
	}
}

.page {
	--headerline: 1mm;
}

.page > div.roomNr {
	padding: 0.2em;
	background-color: var(--main-color);
	color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	border-bottom: var(--headerline) solid white;
	overflow: hidden;
	text-wrap: nowrap;
}

.page > div.roomName {
	padding: 0.2em;
	padding-left: 0.5em;
	color: var(--main-color);
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: start;
	border-bottom: var(--headerline) solid var(--main-color);
	overflow: hidden;
	text-wrap: nowrap;
}

#roomNumber,
#roomName {
	font-family: "BundesSansWeb";
	font-style: bold;
	font-size: 28pt;
}
#roomName.smaller {
	font-size: 20pt;
	line-height: 1.1;
}
#roomName.smallest {
	font-size: 16pt;
	line-height: 1.1;
}

.page > div.logo {
	padding: 0.2em;
	background-color: var(--main-color);
	color: white;
	display: flex;
	align-items: end;
	justify-content: center;
}

.page > div.mainArea {
	padding: 0.5em;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 0.5em;
}

div.mainArea.singleChild {
	flex-grow: 1;
	justify-content: center;
}

.page > div.mainArea table {
	border-collapse: collapse;
	width: 100%;
}
.page > div.mainArea tr {
	height: 8mm;
}

td.name {
	width: 50mm;

	font-family: "BundesSerifWeb";
}
td.name.important {
	font-weight: bold;
}
td.position {
	font-style: italic;

	font-family: "BundesSerifWeb";
}

div.warning {
	background-color: red;
	padding: 0.5em;
	color: white;
	text-align: center;
	border-radius: 2mm;
	width: 100%;
}
div.warning h2 {
	margin: 0;
	padding: 0;

	font-family: "BundesSansWeb";
	font-style: bold;
	font-size: 28pt;
}
div.warning p {
	margin: 0;
	padding: 0;

	margin-top: 8pt;

	font-size: 20pt;
	font-family: "BundesSansWeb";
	font-style: normal;
}

div.image {
	padding: 0.5em;
	text-align: center;
	border-radius: 2mm;
	border: 1mm solid var(--main-color);
	width: 50%;
	aspect-ratio: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}
div.image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}


